    <div class="text-center">
        <br>
        <h1>About</h1>
        <br>
        <h1>Hi!</h1>
        <p>Hi, I'm <strong>Surendran J</strong>, I like to code, watching movies and playing games.</p>
        <br>
    </div>
    <div class="form">
        <br>
        <hr>
        <h3>Education</h3>
        <p>Currently I'm pursuing my final year <strong> Computer science and Engineering in reputed college </strong> with an aggregate of <strong> 85%</strong></p>
        <h3>Languages</h3>
        <p>I can speak and write <strong>English</strong> & <strong>Tamil</strong> fluently.</p>
        <p>As for programming languages, please take a look at the below information.</p>
        <h5>Python</h5>
        <div class="progress">
            <div class="progress-bar bg-progress" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h5>C</h5>
        <div class="progress">
            <div class="progress-bar bg-dark" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h5>Java</h5>
        <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h5>HTML</h5>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h3>Projects</h3>
        <br>
        <ul>
            <li><strong>Online Food Ordering System</strong> - It is a combination of hardware and software as in Embedded systems using Raspberry 
                pi, which works with sensors and object detection algorithms.</li>
            <li><strong>Health tip  Bot</strong> - Telegram Bot to browse health tip website.</li>
        </ul>
    </div>
    <br>
    <div class="text-center">
        <p>Check out source code of my projects on <a href="github.com">GitHub</a></p>
        <p>Contact me on <a href="https://web.telegram.org/k/">Telegram</a> & through <a href="mailto:abc@gmail.com">E-mail</a></p>

    </div>
    <br>
